.onboarding-multi-submit-step {
  .list-group-item {
    cursor: default;
  }

  textarea.font-monospace {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 0.85rem;
  }
}
