<div class="hero-widget"
    [style.background-color]="config.settings.backgroundColor"
    [style.--hero-outer-padding.px]="config.settings.padding"
    [style.--hero-title-size.px]="config.settings.titleSize"
    [style.--hero-subtitle-size.px]="config.settings.subtitleSize"
    [style.--hero-btn-font-size.px]="config.settings.buttonTextSize"
    [style.--hero-btn-padding.px]="config.settings.buttonPadding">
    <h1 class="hero-title" [style.color]="config.settings.textColor">{{ config.settings.title }}</h1>
    <p class="hero-subtitle" [style.color]="config.settings.textColor">{{ config.settings.subtitle }}</p>
    <a
        *ngIf="config.settings.showButton !== false"
        [href]="config.settings.buttonLink"
        class="btn"
        [style.background-color]="config.settings.buttonColor"
        [style.color]="config.settings.buttonTextColor"
    >
        {{ config.settings.buttonText }}
    </a>
</div>
