::ng-deep {
  .p-datatable .p-datatable-tbody > tr > td {
    padding: 0.75rem 1rem;
  }

  .p-toolbar {
    padding: 1rem;
    border-radius: 8px 8px 0 0;
  }

  .p-dialog .field {
    margin-bottom: 1rem;

    label {
      display: block;
      margin-bottom: 0.5rem;
    }
  }
}
