/* Utils */
.clearfix:after {
    content: ' ';
    display: block;
    clear: both;
}

/* Removed PrimeNG card override to use Bootstrap's native .card styles */

.p-toast {
    &.p-toast-top-right,
    &.p-toast-top-left,
    &.p-toast-top-center {
        top: 100px;
    }
}
